<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메뉴 화면</title>
    <style>
        button {
            font-size: 10pt;
            padding: 10px 10px; /* 버튼 크기를 조금 더 넉넉하게 */
        }
    </style>
</head>
<body>
    <h1>메뉴 화면</h1>
    <center>
    메뉴판
    <p>
<button name="menu1" style="width:70pt;">아메리카노</button><br>
<button name="menu2" style="width:70pt;">카페라떼</button><br>
</p><hr>
<button name="menu2" style="width:70pt;">녹차</button>
    가즈아~! 2nd
    </center>
</body>
</html>
